.main {
  flex: 1;
  max-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  font-family: "Outfit", sans-serif;
  padding: 0 24px;
}

.Gemini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  font-size: 1.3rem;
  font-weight: 300;
}

.Gemini img {
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.Gemini .showProfile {
  position: relative;
}

.Mainheader {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 25px 0 20px 0px;
  overflow-y: scroll;
  max-height: calc(100vh - 207.9px);
}

.Mainheader::-webkit-scrollbar {
  width: 0;
}

.Mainheader > div {
  min-width: 840px;
  max-width: 840px;
}

.Mainheader > div .User {
  display: flex;
  justify-content: flex-end;
}

.Mainheader > div .User > div {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 25px;
  background-color: #e6eaf1;
  border-radius: 20px;
}

.Mainheader > div .User p {
  padding: 7px 15px 7px 30px;
  line-height: 26px;
}

.Mainheader > div .User img {
  width: 30px;
  margin: 5px 10px 5px 0;
  border-radius: 50px;
}

.Mainheader > div .GeminiAI {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.Mainheader > div .GeminiAI .geminiResponse {
  padding: 5px 40px 30px 15px;
  line-height: 26px;
}

.Mainheader > div .GeminiAI img {
  width: 40px;
}

.Mainheader > div .GeminiAI .geminiResponse .codeCopy {
  margin: 10px 0;
}

.Mainheader > div .GeminiAI .geminiResponse .codeCopy > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d0d3d7;
  padding: 4px 20px;
  border-radius: 12px 12px 0 0;
  font-size: 0.8rem;
}

.Mainheader > div .GeminiAI .geminiResponse .codeCopy > div .copyButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Mainheader > div .GeminiAI .geminiResponse .codeCopy > div .copyButton img {
  width: 15px;
  margin-right: 2px;
}

.Mainheader > div .GeminiAI .geminiResponse .codeCopy pre {
  background-color: #f0f4f9;
  padding: 12px;
  border-radius: 0 0 12px 12px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.Mainheader .responsefeatures {
  display: flex;
  bottom: 0;
  right: 0;
  position: absolute;
}
.Mainheader .QNA {
  /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3),
    -10px -10px 15px rgba(255, 255, 255, 0.3); */
  padding: 20px;
  max-height: 100%;
  overflow-y: scroll;
}

.Mainheader .QNA::-webkit-scrollbar {
  width: 0;
}

.Mainheader > div .GeminiAI .responsefeatures img {
  width: 20px;
  margin: 5px;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.Mainheader > div .GeminiAI .responsefeatures img:hover {
  background-color: rgb(226, 226, 226);
}

.intro {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 75px;
  line-height: 4rem;
  margin-top: 26px;
  letter-spacing: -1.5px;
}

.intro p:first-child {
  background: -webkit-linear-gradient(
    321deg,
    rgba(24, 113, 234, 1) 2%,
    rgba(223, 88, 103, 1) 30%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.intro p:last-child {
  color: #c5c6c5;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  gap: 10px;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.98rem;
  letter-spacing: -0.5px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.cards::-webkit-scrollbar {
  width: 0;
}

.cards > div {
  background-color: #f0f4f9;
  border-radius: 12px;
  aspect-ratio: 1/1;
  padding: 15px;
  cursor: pointer;
  position: relative;
}

.cards > div .icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: white;
  border-radius: 50px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards > div .icon img {
  width: 25px;
}

.searchbar {
  display: flex;
  justify-content: center;
  z-index: 9;
}

.searchbar > div {
  display: flex;
  padding: 0% 12px;
  border-radius: 40px;
  min-width: 830px;
  align-items: center;
  background-color: #f0f4f9;
  bottom: 10px;
}

.searchbar > div > input {
  flex: 1;
  border: none;
  outline: none;
  padding: 20px;
  padding-left: 15px;
  background-color: transparent;
}

.searchbar > div > input::placeholder {
  font-family: "Noto Sans", sans-serif;
  color: #5f6368;
  letter-spacing: -0.5px;
}

.searchbar img {
  margin: 0 12px;
  width: 22px;
  cursor: pointer;
}

.footer {
  margin: 10px 0;
  text-align: center;
  min-width: 830px;
  font-size: 0.79rem;
  font-weight: 300;
  z-index: 9;
}

@media only screen and (max-width: 960px) {
  .Mainheader > div {
    min-width: 100%;
    max-width: 100%;
  }

  .Gemini .GeminiHeader {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
  }

  .Gemini .GeminiHeader > div:first-child {
    position: absolute;
    top: -5px;
    left: -12px;
  }

  .Gemini .GeminiHeader > div:last-child {
    margin-left: 42px;
  }

  .searchbar > div {
    min-width: 100%;
  }

  .footer {
    min-width: 100%;
  }

  @media only screen and (max-width: 680px) {
    .intro {
      font-size: 2.9rem;
      margin-bottom: 40px;
      line-height: 2.95rem;
      margin-top: 38px;
    }

    .Mainheader .QNA {
      padding: 20px 0;
    }

    @media only screen and (max-width: 460px) {
      .main {
        padding: 0 14px;
      }

      .Gemini {
        padding-left: 10px;
      }

      .Gemini .showProfile {
        position: static;
      }
      .intro {
        font-size: 2.2rem;
        line-height: 2.2rem;
      }

      .Mainheader > div .User p {
        line-height: 22px;
      }

      .Mainheader > div .GeminiAI .geminiResponse {
        padding: 0px 10px 30px 10px;
        line-height: 22px;
      }

      .Mainheader > div .GeminiAI img {
        width: 35px;
      }

      .searchbar > div > input {
        padding-right: 0;
        width: 100%;
      }

      .searchbar img {
        margin: 0 7px;
      }

      .footer {
        font-size: 0.6rem;
        line-height: 0.6rem;
      }
    }
  }
}
